@import url('styles.css');


#kartica-login.kartica-splosno,
#kartica-login {
    background-color: #ffffff;
    width: 450px;
    padding: 28px;
    border-radius: 2px;
    color: #4d4d4d;
}

.login-naslov {
    margin: 0 0 20px 0;
    font-size: 24px;
    color: #4d4d4d;
    font-weight: 700;
}

.floating-group {
    background-color: #ffffff;
    border: 1px solid #ccc;
}

.floating-group:has(.floating-input:focus) {
    border-color: 006FFF;
    box-shadow: 0 0 0 1px #006FFF;
}

.floating-input {
    color: #aaa;

}

.checkbox-vrstica {
    display: flex;
    align-items: center;
    margin-top: 5px;
    margin-bottom: 20px;
    color: #1a1a1a;
    font-size: 16px; 
    cursor: pointer;
    width: 100%;
    box-sizing: border-box;
}

.checkbox-vrstica input[type="checkbox"] {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    width: 20px;
    height: 20px;
    min-width: 20px;
    background-color: #ffffff;
    border: 1px solid #cccccc;
    border-radius: 3px;
    margin-right: 12px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.2s ease-in-out;
    box-sizing: border-box;
}


.checkbox-vrstica input[type="checkbox"]:checked {
    background-color: #ffffff;
    border-color: #cccccc;
    box-shadow: inset 0 0 0 2px #fcaf17;
}

.checkbox-vrstica input[type="checkbox"]:checked::after {
    content: '';
    width: 10px;
    height: 5px;
    border: solid #4d4d4d;
    border-width: 0 0 2px 2px;
    transform: rotate(-45deg);
    margin-top: -2px;
}

.checkbox-vrstica input[type="checkbox"]:hover {
    border-color: #999;
}

.custom-check {
    display: none;
}

.pozabljeno-geslo {
    display: inline-block;
    margin-bottom: 20px;
    font-size: 16px;
    color: #1a1a1a;
    text-decoration: underline;
}

.login-gumb {
    background-color: #fcaf17;
    color: #000;
    width: auto;
    align-self: flex-end;
    padding: 10px 20px;
    margin-top: 10px;
	margin-left: 185px;
}

.recaptcha-login {
    font-size: 12px;
    color: #666;
    margin-top: 15px;
}

.recaptcha-login a {
    color: #1a1a1a;
    text-decoration: underline;
}

.konzole {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-top: 15px;
}


.login-bottom-link {
    margin-top: 15px;
	width:500px;
}

#kartica-login .floating-input:focus + .floating-label,
#kartica-login .floating-input.has-value + .floating-label {
    
    color: #666; 
}
.field-error-text {
    background-color: #c20d0d;
    color: white;
	font-size: 14px;
	height:50px;
    margin-top: -20px;
    margin-bottom: 15px;
    display: none;
	padding:8px;
}

